// Flex
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

// Lists
ul.no-style {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

// Pill
.pill {
  display: inline-block;
  border-radius: $border-radius;
  background: $background-color;
  color: $text-color;
  padding: 2px 5px 1px;
  margin: 2px;
  width: auto;
  font-size: 13px;
  text-transform: uppercase;
}

// Button 
.button {
  border-radius: $border-radius;
  background: $primary-color;
  color: $text-color-invert;
  border: none;
  padding: 20px 40px;
  display: inline-block;
  font-family: $font-stack;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}