$font-stack: 'Rajdhani', sans-serif;

// Colors
$primary-color: #d22d5b;
$background-color: #f1f2f4;
$text-color: #333;
$text-color-light: #999;
$text-color-invert: #fff;

// Border box
$border-radius: 2px;