<ul class="artist-list flex flex-wrap no-style">
  <li *ngFor="let artist of artists" class="artist-list__item">
    <img src="{{imgUrl}}{{artist.image}}" class="artist-list__image" />
    <div class="artist-list__metadata flex">
      <div class="artist-list__text">
        <h1 class="artist-list__header">{{artist.name}}</h1>
        <p class="artist-list__price">{{artist.priceRange || 'Contact for price'}}</p>
        <p class="artist-list__location">{{artist.locations[0] || 'Worldwide'}}</p>
      </div>
      <ul class="artist-list__genre-list no-style">
        <li *ngFor="let genre of artist.genres" class="pill">
          {{genre}}
        </li>
      </ul>
    </div>
  </li>
</ul>
<button 
  class="button artist-list__load-more-button" 
  *ngIf="pageNumber !== maxPageNumber"
  (click)="loadMoreArtists()"
>
  Load more {{pageNumber}}/{{maxPageNumber}}
</button>