@import '../../sass/_variables.scss';

.artist-list {
  padding: 20px;
}

.artist-list__item {
  position: relative;
  display: block;
  background: #fff;
  margin: 20px;

  width: calc(33.333% - 40px);
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border-radius: $border-radius;
  overflow: hidden;

  cursor: pointer;
  
  transition: all .1s linear;
}

.artist-list__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 100px rgba(0,0,0,.1);  
}

@media screen and (min-width: 1440px) {
  .artist-list__item {
    width: calc(20% - 40px);
  }
}

.artist-list__metadata {
  justify-content: space-between;
}

.artist-list__header {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.artist-list__text {
  padding: 20px;
}

.artist-list__price,
.artist-list__location {
  color: $text-color-light;
  margin: 0;
  position: relative;
  margin-left: 15px;
}

.artist-list__price {
  margin-bottom: 5px;
}

.artist-list__price::before,
.artist-list__location::before {
  content: '';
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  left: -20px;
  top: -1px;
}

.artist-list__price::before {
  background: url(/assets/money.svg);
  background-size: 85% auto;
  background-repeat: no-repeat;
}

.artist-list__location::before {
  background: url(/assets/location.svg);
  background-size: 85% auto;
  background-repeat: no-repeat;  
}

.artist-list__genre-list {
  position: relative;
  align-self: center;
  list-style: none;
  padding-right: 20px;
  max-width: 30%;
}

.artist-list__genre-list .pill {
  float: right;
}


.artist-list__image {
  width: 100%;
  display: block;
}

.artist-list__load-more-button {
  margin: 0 auto 20px;
  display: block;
}