<!--The content below is only a placeholder and can be replaced.-->
<div>
  <header class="header">
    <h1 class="logo">
      {{ title }}
    </h1>
    <div class="hero flex">
      <div class="hero__text flex">
        <h1>
          Hitta, kommunicera med och boka artister<br /> på en och samma plattform
        </h1>
      </div>
      <button class="button hero__scroll-button" (click)="scrollToArtists()">
          Hitta artister
      </button>
    </div>
  </header>
  <main>
    <app-artist-list></app-artist-list>
  </main>
</div>