@import '../sass/_variables.scss';

.header {
  text-align: center;
  padding-top: 50px;

  background-image: url(/assets/gigital-main-bg.jpg);
  background-size: cover;
  background-position: center bottom;
}

.logo {
  text-transform: uppercase;
  display: block;
  color: $primary-color;
  margin: 0;
}

.header .logo {
  font-size: 64px;
  margin-bottom: 0;
}

.hero {
  height: calc(100vh - 123px);
  flex-direction: column;
  align-items: center;
}

.hero__text {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.hero__text h1 {
  display: inline-block;
  align-self: center;
  font-size: 64px;
  padding-bottom: 64px;
  color: #fff;
  text-shadow: 0 1px 10px rgba(0,0,0,.5);
}

.hero__scroll-button {
  margin-bottom: 100px;
}